body {
  font-family: Arial, Helvetica, sans-serif
}

.container 
{
  max-width: 1366px;
}
.showChart {
  position: relative;
  float: left;
}

.basicChart {
  position: relative;
  float: left;
}

.content {
  margin: 30px
}

.vl {
  border-left: 2px solid rgb(241, 239, 239);
  height: 500px;
}

.fs-10 {
  font-size: 14px;
}